  <div class="about-section">
    <h1 style="text-align:center">Eliografia Gatto di Gatto Vincenzo</h1>
    <h2>Qualcosa sulla nostra attività</h2>
    <p>L'eliografia Gatto è un attività commerciale fondata circa 25 anni fa.</p>
    <p>Qui è possibille effuattuare qualsiasi forma di lavoro di tipo eliografico a prezzi bassisimi.</p>
    <a routerLink="/home" routerLinkActive="active" class="button">Go to to home</a>
  </div>
  
  
  <div class="row">
    <div class="column">
      <div class="card">
        <h2 style="text-align:center"><img src="/assets/negozio/Vincenzo.jpg" alt="Vincenzo" style="width:70%"></h2>
        <div class="container">
          <h1>Vincenzo Gatto</h1>
          <h2><p class="title">Proprietario dell'attività commerciale</p></h2>
          <p>Nato : 16-06-1965</p>
          <p>email: <a>eliografiagatto@live.it</a></p>
          <p><button class="button"><a href="https://www.paginebianche.it/cosenza/eliografia-gatto-gatto-vincenzo.2656956">Informazioni</a></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      
        <div class="container">
          <h1>DOVE SIAMO?</h1>
          <p class="title">Via degli stadi 41, Cosenza(CS)</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12348.109125816996!2d16.2422814!3d39.3103051!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a886870962dc853!2sEliografia%20Gatto%20Di%20Gatto%20Vincenzo!5e0!3m2!1sit!2sit!4v1621539358583!5m2!1sit!2sit" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      
    </div>
  
   
  </div>