<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tesi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityAgg" android:label="ActivityAgg" >
        </activity>
        <activity android:name=".Cerca" android:label="cercael" >
        </activity>
        <activity android:name=".CercaA" android:label="CercaA" ></activity>
        <activity android:name=".Modifica" android:label="mod"></activity>

    </application>

</manifest>