pip install accelerate==0.26.1
pip install fastjsonschema
pip install filelock
pip install flake8
pip install Flask
pip install flatbuffers==24.3.25
pip install fonttools==4.25.0
pip install forex-python==1.8
pip install gensim
pip install geojson==3.1.0
pip install glob2
pip install hpack==3.0.0
pip install hstspreload==2024.2.1
pip install httpcore==0.15.0
pip install httpx==0.24.1
pip install hyperframe==5.2.0
pip install hyperlink
pip install imagecodecs
pip install imageio
pip install imagesize
pip install imbalanced-learn
pip install ipykernel
pip install ipython
pip install ipython-genutils
pip install ipywidgets
pip install joblib
pip install json5
pip install jsonpatch==1.33
pip install jsonpointer==2.1
pip install jsonschema
pip install marshmallow==3.20.2
pip install matplotlib
pip install matplotlib-inline
pip install mypy-extensions
pip install numpy
pip install numpydoc
pip install onnx==1.16.2
pip install onnxruntime==1.19.2
pip install opencv-python==4.10.0.84
pip install openpyxl==3.0.10
pip install packaging==23.2
pip install pandas
pip install param
pip install pathlib
pip install pathos==0.3.2
pip install pathspec
pip install patsy==0.5.3
pip install Pillow
pip install pkce
pip install pkginfo
pip install platformdirs
# pip install plotly
pip install ply==3.11
pip install pox==0.3.4
pip install python-dateutil
pip install python-dotenv
pip install python-json-logger
pip install python-lsp-black
pip install python-lsp-jsonrpc==1.0.0
pip install python-lsp-server
pip install python-slugify
pip install python-snappy
pip install requests
pip install requests-file
pip install requests-toolbelt
pip install responses
pip install Scrapy
pip install seaborn
pip install segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@2418a1deeedaed6dc71295d9c820d7badc9b95a6
pip install shapely==2.0.6
pip install simplejson==3.19.2
pip install tokenizers==0.13.3
pip install toml
pip install tomlkit
pip install toolz
pip install transformers
pip install urllib3
pip install w3lib
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118